.what {
  margin: 0;
  padding: 0;

  font-family: "Open Sans", Verdana, Geneva, Tahoma, sans-serif;
}

.what,
.nav2,
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav2 {
  position: relative;
  background-color: grey;
  background: transparent;
  padding: 20px;
  transition: 0.5s;
  border-radius: 50px;
  overflow: hidden;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.menu {
  margin: 0;
  padding: 0;
  width: 0;
  overflow: hidden;
  transition: 0.5s;
}

.nav2 input:checked ~ .menu {
  width: 1000px;
}

.menu li {
  list-style: none;
  margin: 0 10px;
}

.menu li a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-weight: 50;
  transition: 0.5s;
}

.menu li a:hover {
  color: grey;
}

.nav2 input {
  width: 40px;
  height: 40px;
  cursor: pointer;
  opacity: 0;
}

.nav2 span {
  position: absolute;
  left: 25px;
  width: 30px;
  height: 4px;
  border-radius: 50px;
  background-color: black;
  pointer-events: none;
  transition: 0.5s;
}

.nav2 input:checked ~ span {
  background-color: #f974a1;
}

.nav2 span:nth-child(2) {
  transform: translateY(-8px);
}

.nav2 input:checked ~ span:nth-child(2) {
  transform: translateY(0) rotate(-45deg);
}
.nav2 span:nth-child(3) {
  transform: translateY(8px);
}

.nav2 input:checked ~ span:nth-child(3) {
  transform: translateY(0) rotate(45deg);
}
