#btn {
  background: #222;
  height: 100px;
  width: 300px;
  border: none;
  border-radius: 10px;
  color: #94938e;
  position: relative;
  font-size: 40px;
  font-family: Georgia, serif;
  transition: 1s;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-top: 10px;
}

#btn #circle {
  width: 10px;
  height: 10px;
  background: transparent;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  overflow: hidden;
  transition: 500ms;
}

#btn:hover {
  background: transparent;
}

#btn:hover #circle {
  height: 100px;
  width: 300px;
  margin-left: -50%;
  border-radius: 0;
  border-bottom: 4px solid #eee;
}
